<div class="perfil-container">
    <div class="perfil">
        <div class="tittle-perfil">
            <h3>Perfil del Usuario</h3>
        </div>
        <div class="foto-de-perfil">
            <img src="../../assets/img/perfil/perfil_avatar.jpg" alt="">
        </div>
        <div class="nombre-perfil">
            <span>bienvenido: Luis de tomas</span>
            <div class="status">
                <div class="point active"></div>
                <span>active</span>
            </div>
        </div>
        <div class="datos-de-perfil">
            <div class="dato-item">
                <p>Codigo de  Empleado: </p>
                <span>548</span>
            </div>
            <div class="dato-item">
                <p>Tipo de documento: </p>
                <span>DNI</span>
            </div>
            <div class="dato-item">
                <p>Numero de documento: </p>
                <span>78015125</span>
            </div>
            <div class="dato-item">
                <p>Meta Del Mes: </p>
                <span>4567</span>
            </div>
            <div class="dato-item">
                <p>Progreso: </p>
                <span>50%</span>
            </div>
        </div>
    </div>
</div>
